<%- include("../layouts/header.ejs") %>
<%- include("../layouts/userNav.ejs") %>

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login/Register</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Login/Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	  <!-- Start OTP Login Box Area -->
	  <section class="otp_login_box_area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="otp_login_form_inner">
                        <h3>OTP Login</h3>
                        <form class="row login_form" action="/login" method="post" id="otpLoginForm" novalidate="novalidate">
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="username" name="username" placeholder="Username" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <input type="text" class="form-control" id="otp" name="otp" placeholder="OTP" required>
                            </div>
                            <div class="col-md-12 form-group">
                                <button type="submit" class="primary-btn">Log In</button>
                                <a href="#" id="resendOtp">Resend OTP</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
	<!--================End Login Box Area =================-->

	<%- include("../layouts/footer.ejs") %>
	<%- include("../layouts/userFooter.ejs") %>
