<%- include("../layouts/header.ejs") %>
<%- include("../layouts/userNav.ejs") %>

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Wishl ist</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Cart</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->
    
    <section class="wishlist_area">
        <div class="container">
            <div class="wishlist_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Product</th>
                                <th scope="col">Price</th>
                                <th scope="col">Remove</th>
                            </tr>
                        </thead>
                        <tbody id="wishlist">
                            <!-- Wishlist items will be dynamically added here -->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>

    <%- include("../layouts/footer.ejs") %>
	<%- include("../layouts/userFooter.ejs") %>